<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Student qo'shish uchun forma</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        <label for="name">name</label>
        <input type="text" name="name" placeholder="name" id="name" required>
        </p>
        <p>
        <label for="birth">birth</label>
        <input type="date" name="birth" id="birth" required>
        <p>
        </p>
        <label for="image">image</label>
        <input type="file" name="image" id="image" required>
        </p>
        <p>
        <label for="phone">phone</label>
        <input type="number" name="phone" placeholder="phone" id="phone" required>
        <p>
        </p>
        <label for="email">email</label>
        <input type="email" name="email" placeholder="email" id="email" required>
        </p>
        <p>
        <label for="address">address</label>
        <input type="text" name="address" placeholder="address" id="address" required>
        </p>
        <button style="background-color: blue; color: wheat; outline: none">Saqlash</button>
    </form>
    <h3>Studentlar ro'yhati</h3>

    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>birth</th>
                <th>image</th>
                <th>phone</th>
                <th>email</th>
                <th>address</th>
            </tr>
        </thead>
        <tbody>
        {% for i in student %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.birth }}</td>
                {% if i.image %}
                <td><img width="100px" height="100px" src="{{ i.image.url }}" alt=""></td>
                {% else %}
                <td><img src="" alt="rasm kiritilmagan"></td>
                {% endif %}
                <td>{{ i.phone }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>